* {
    color: white;
    text-align: left;
    font-family: inter, sans;
    font-size: 12pt;
}

body {
    background: #303030;    
}


canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  /* width: 100%;
  height: 100%; */
  display: block;
    background: #303030;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  margin-left: 1mm;
  margin-right: 1mm;
  
  font: inherit;
  width: 0.75em;
  height: 0.75em;
  border-radius: 20%;
}

input[type="checkbox"]:checked {
  background-color: #fc9167;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4947470b;
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

}

.popup {
    position: relative;
    display: grid;
    place-items: center;
    z-index: 2;
    padding: 5mm;
    border-radius: 5mm;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background: #303030;
}

.header {
    text-align: center;
    font-size: 2.25em;
    margin: 5px;
}

.popup-text {
    text-align: center;
}

.legend {
    position: absolute;
    bottom: 5mm;
    z-index: 1;
    display: flex;
    border-radius: 5mm;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background: #303030;
    padding-left: 5mm;
    padding-right: 10mm;
    padding-bottom: 5mm;
}

.legend-container {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 1mm;
    row-gap: 1mm;
}

.legend-header {
    grid-row: 1;
    grid-column: 1 / 3;
    margin-top: 3mm;
    margin-bottom: 1.5mm;
}

.legend-box {
    width: 30px;
    height: 20px;
    border-radius: 1mm;
    grid-column: 1;
}

.user-interface {
    position: absolute;
    z-index: 1;
    padding: 5mm;
    border-radius: 5mm;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background: #303030;
}

.floater-closed {
    padding: 2mm;
    border-radius: 50%;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 5mm;
}

.datepicker {
    color: white;
    border: none;
    background: #303030;
}
.checkbox {
    color: white;
    border: none;
}
.button {
    color: white;
    border: none;
    background: #494747;
    border-radius: 2mm;
    padding-left: 2mm;
    padding-right: 2mm;
}

.button:active {
    background-color: #b3aeae;
}

.popup-button {
    color: black;
    background-color: #fc9167;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-width: 2px;
    border-color: #db734b;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    padding-bottom: 4px;
}

.popup-button:active {
    background-color: #f8a685
}

.popup-button-open {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 1mm;
}

p {
    margin: 1mm;
}
td {
    padding-right: 1mm;
}
#checkboxes {
    display: flex;
    justify-content: space-around;
}

#loader { 
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);

    z-index: 1;
}


.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #fc9167;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
} 
