
.user_interface {
    position:absolute;
    top:0px;
    left:0px;
    z-index:1;
}

.data_types {
    position: relative;
    top: 20px;
    left: 20px;
}

.sat_selection {
    position: relative;
    top: -29px;
    left: 100px;
}
.date_filter {
    
}

.date_input {

}

.check_box {
   
}

.radio_text {
    padding-left: 5px;
    color: white;
}

.submit_button {
    position: relative;
    left: 30%;
}

.range_text {
    position: relative;
    top: 3px;
    padding-left: 50px;
    color: white;
}
