.wgpu_surface-7cdc9ba {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}



.user_interface-acc4278 {
    position:absolute;
    top:10px;
    left:10px;
    z-index:1;
    width: 150px;
    height: 50px;
    color:red;
    background-color: orange;
}