.wgpu_surface-7cdc9ba {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}



.user_interface-acc4278 {
    position:absolute;
    top:0px;
    left:0px;
    z-index:1;
}

.data_types-acc4278 {
    position: relative;
    top: 20px;
    left: 20px;
}

.sat_selection-acc4278 {
    position: relative;
    top: -29px;
    left: 100px;
}
.date_filter-acc4278 {
    
}

.date_input-acc4278 {

}

.check_box-acc4278 {
   
}

.radio_text-acc4278 {
    padding-left: 5px;
    color: white;
}

.submit_button-acc4278 {
    position: relative;
    left: 30%;
}

.range_text-acc4278 {
    position: relative;
    top: 3px;
    padding-left: 50px;
    color: white;
}
